/* RAOWA Colors from Logo 
    Red: #ff0000;
    Blue: #1b0069;
    Teal: #359fac;
    Yellow: #ffb621;
    cyan: #e5e5e5;
*/


/* CSS HEX */
--woodsmoke: #121313; /* black */
--swirl: #d2ccc6;
--shiraz: #ff0000;  /* red */
--kabul: #e5e5e5; /* shadow */
--buttercup: #e5e5e5;
--santa-fe: #b6725e;
--mountbatten-pink: #a58898;
--astral: #32739b;
--curious-blue: #1b0069;

#facetcontainer {
    background-color:#d2ccc6 ;
}
.no-image, li .addrecord {
    display: none;
}
.breadcrumbs {
    background-color: #1b0069;

}
.breadcrumbs a {
    color: #d2ccc6;

}
.record {
    padding: calc(0.5em + 0.5vw);
    font-size: inherit;
    color: #1b0069;
}
.record p {
    margin-bottom: 0;
}

.h1, h1 {
    color: #1b0069;
    font-size: calc(1.1em + 1.1vw);
} 
.h3, h3 {
    font-size: inherit;
}